{% extends "dashboard/dashboard.html" %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static "css/dashboard/category.css" %}">
<link rel="stylesheet" href="{% static "css/dashboard/product.css" %}">
{% endblock link %}

{% block dashboard-containt %}
<form action="{% url "add-tag" %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <input type="text" name="tag-id" value="{{tag.category_id}}" class="dlt-btn">
        <div class="category-info">
            <div class="product-name">
                <h3>Name:</h3>
                <input type="text" name="tag_name_input" id="tag_name_input" value={{tag.name}} class="input" required>
            </div>
            <div class="product-name">
                <h3>Display Name:</h3>
                <input type="text" name="tag_displayName_input" id="tag_displayName_input" value={{tag.display_name}} class="input" required>
            </div>
            <div class="product-description">
                <h3>Description:</h3>
                <textarea name="tag_description_input" id="tag_description_input" class="input">{{tag.description}}</textarea>
            </div>
            <div class="product-tag">
                <h3>Categories</h3>
                <select name="tag_category" id="tag_category" class="input">
                    <option value="{{tag.main_category.category_id}}" disabled selected>{{tag.main_category}}</option>
                    {% for category in categories %}
                    {% if tag.main_category.category_id == category.category_id  %}
                    <option value="{{category.category_id}}" selected>{{category}}</option>
                    {% else %}
                    <option value="{{category.category_id}}">{{category}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="product-featured">
                <h3>Display</h3>
                <label class="toggle-switch">
                    {% if tag.display == True %}
                    <input type="checkbox" name="display" value="True" checked>
                    {% else %}
                    <input type="checkbox" name="display" value="False">
                    {% endif %}
                    <div class="toggle-switch-background">
                    <div class="toggle-switch-handle"></div>
                    </div>
                </label>              
            </div>
        </div>
        <div class="function-buttons-container">
            <div class="delete">
                <a href="{% url "DeleteTag" tag.category_id%}"><button type="button" class="function-button">Delete</button></a>
            </div>
            <div class="discard">
                <a href="{% url "dashboard-tags" %}"><button type="button" class="function-button">Discard</button></a>
            </div>
            <div class="save">
                <button type="submit" class="function-button">Save</button>
            </div>
        </div>

        {% comment %} <script>console.log('{{product.thumbnail_image}}')</script> {% endcomment %}
    </form>
</div>
{% endblock %}


{% block script %}
<script src="{% static "js/dashboard/category.js" %}"></script>
{% endblock script %}