
  <!--
    - #HEADER
  -->
  {% block link %}

      {% load static %}
      <link rel="stylesheet" href="{% static 'css/header.css' %}">
      <script src="{% static 'js/header-script.js' %}" defer></script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  {% endblock link %}


  <!--
    - #HEADER
  -->

  <header class="header">

    <div class="alert">
      <div class="container">
        <p class="alert-text">Show your offers here</p>
      </div>
    </div>

    <div class="header-top" data-header>
      <div class="container">

        <button class="nav-open-btn" aria-label="open menu" data-mobile-menu-open-btn>
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </button>

        <div class="input-wrapper">
          <form method="GET" action="{% url "products" %}">
            <input type="search" name="s" placeholder="Search product" class="search-field">

            <button class="search-submit" aria-label="search">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
            </button>
          </form>
        </div>

        <a href="#" class="logo">
          <img src="{% static 'Media/resource/logo.png' %}" width="179" height="26" alt="Glowing">
        </a>

        <div class="header-actions">

          {% if not request.user.is_authenticated %}
          <a class="header-action-btn" aria-label="user" href="/login">
            <ion-icon name="person-outline" aria-hidden="true" aria-hidden="true"></ion-icon>
          </a>
          {% endif %}

          {% if request.user.is_authenticated %}
          <button class="header-action-btn" aria-label="favourite item">
            <ion-icon name="laptop-outline" aria-hidden="true" aria-hidden="true"></ion-icon>
          </button>
          {% endif %}

          <button class="header-action-btn" aria-label="cart item">
            <data class="btn-text" value="0">$0.00</data>

            <ion-icon name="bag-handle-outline" aria-hidden="true" aria-hidden="true"></ion-icon>

            <span class="btn-badge">0</span>
          </button>

        </div>


      </div>
    </div>


    <nav class="desktop-navigation-menu">
        

      <div class="container">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="/" class="menu-title">Home</a>
          </li>

          {% for category, productCategories in header_context.items %}
          <li class="menu-category">
            <a href="/categorys/{{category.category_id}}" class="menu-title">{{category.display_name}}</a>

            <ul class="dropdown-list">
              {% for productCategory in productCategories %}
              <li class="dropdown-item">
                <a href="/category/{{productCategory.category_id}}">{{ productCategory.display_name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>

      </div>

    </nav>
      
    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="#" class="menu-title">Home</a>
        </li>

        {% for category, productCategories in header_context.items %}
        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">{{category.display_name}}</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            {% for productCategory in productCategories %}
            <li class="submenu-category">
              <a href="#" class="submenu-title">{{productCategory.display_name}}</a>
            </li>
            {% endfor %}

          </ul>

        </li>
        {% endfor %}


      </ul>

    </nav>
  </header>




