{% block link %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/product-list.css' %}">
<script src="product-list.js"></script>

{% endblock link %}

<div class="container">
    
    <div class="title-wrapper">
        <h2 class="h2 section-title">{{product_page_title}}</h2>
  
        <a href="/products/all_product" class="btn-link">
          <span class="span">Shop All Products</span>
  
          <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
        </a>
    </div>
    <div id="product-grid" class="product-grid">
        {% for product, image in products_list_context.items %}
        <div class="product-card">
            <a href="/product/{{product.product_id}}">
                <img src="{{image.image.url}}" alt="{{product.name}}">
                {% if product.discount %}
                <span class="badge">-{{product.discount}}</span>
                {% endif %}
            </a>
                
            <div class="showcase-content">
              
                <a href="/category/{{product.category.category_id}}" class="showcase-category">{{product.category.display_name}}</a>
                
                <a href="/product/{{product.product_id}}">
                  <h3 class="showcase-title">{{product.name}}</h3>
                </a>
  
                <div class="price-box">
                  {% if product.discount %}
                  <p class="price">₹{{product.get_discount_price}}</p>
                  <del>₹{{product.cost}}</del>
                  {% else %}
                  <p class="price">₹{{product.cost}}</p>
                  {% endif %}
                </div>
                
              </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <button onclick="previousPage()">Previous</button>
        <span id="page-number">1</span>
        <button onclick="nextPage()">Next</button>
    </div>
</div>
