{% extends "base.html" %}
{% block link %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<script src="product.js"></script>

{% endblock link %}

{% block content %}
<div class="product-detail-container">
    {% for product,images in product_context.items %}
    <div class="product-gallery">
        <div class="thumbnail-container">
            {% for image in images %}
            <img src="{{image.alt_text}}" class="thumbnail" onclick="changeImage('{{image.image.url}}')">
            {% endfor %}
        </div>
        <div class="main-image-container">
            <img id="mainImage" src="{{image|first}}" alt="{{image.alt_text}}">
        </div>
    </div>
    <div class="product-details">
        <h1>Unstoppable Battery Life</h1>
        <p>36 Hrs Of Battery Life</p>
        <div class="buttons">
            <button class="btn add-to-cart">ADD TO CART</button>
            <button class="btn buy-now">BUY NOW</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}