{% extends "base.html" %}
{% block link %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<script src="{% static "js/product.js" %}"></script>

{% endblock link %}

{% block content %}
<div class="product-container">
    {% for product,images in product_context.items %}
    <div class="image-gallery">
        <div class="thumbnail-images">
            {% for image in images %}
            <img src="{{image.image.url}}" alt="{{product.name}}" onclick="changeImage('{{image.image.url}}')">
            {% endfor %}
        </div>
        <div class="main-image">
            {% with default_image=images|first %}
            <img id="mainProductImage" src="{{default_image.image.url}}" alt="{{product.name}}">
            {% endwith %}
        </div>
    </div>
    <div class="product-details">
        <h1>{{product.name}}</h1>
        <div class="price">
            <span class="current-price">₹{{product.get_discount_price}}</span>
            <span class="original-price">₹{{product.cost}}</span>
        </div>
        <p>{{product.description}}</p>
        <div class="additional-info">
            <a href="/category/{{product.category.category_id}}">Category: Clothing</a>
            {% comment %} <p>Availability: <span>180 Products In Stock</span></p> {% endcomment %}
        </div>
        <div class="actions">
            <button class="btn add-to-cart">Order on Whatsapp</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}