{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/product-sections.css' %}">
    <script src="{% static 'js/product-section.js' %}" defer></script>
{% endblock link %}




<section class="section shop" id="shop" aria-label="shop" data-section>
    <div class="container">

      <div class="title-wrapper">
        <h2 class="h2 section-title">New Arival</h2>

        <a href="#" class="btn-link">
          <span class="span">Shop All Products</span>

          <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
        </a>
      </div>

      <ul class="has-scrollbar">
        
        {% for product,image in product_section.items %}
        <li class="showcase">
          
          <div class="showcase-banner">
            
            <img src="{{image.image.url}}" alt="Mens Winter Leathers Jackets" class="product-img default">
            {% if product.discount %}
            <p class="showcase-badge">-{{product.discount}}</p>
            {% endif %}
            
          </div>
          
          <div class="showcase-content">
            
            <a href="#" class="showcase-category">{{product.category.display_name}}</a>
            
            <a href="#">
              <h3 class="showcase-title">{{product.name}}</h3>
            </a>

            <div class="price-box">
              {% if product.discount %}
              <p class="price">₹{{product.get_discount_price}}</p>
              <del>₹{{product.cost}}</del>
              {% else %}
              <p class="price">₹{{product.cost}}</p>
              {% endif %}
            </div>
            
          </div>
          
        </li>
        {% endfor %}
        
          

      </ul>

    </div>
  </section>
