{% block link %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/product-list.css' %}">
<script src="product-list.js"></script>

{% endblock link %}

<div class="container">
    <h1>New Arrival</h1>
    <div id="product-grid" class="product-grid">
        {% for product, image in products_list_context.items %}
        <div class="product-card">
            <img src="{{image.image.url}}" alt="{{product.name}}">
            <div class="details">
                <h2>{{product.name}}</h2>
                <p>{{product.description}}</p>
                {% if product.discount %}
                <div class="price">₹{{product.get_discount_price}} <span class="original-price">₹{{product.cost}}</span></div>
                <div class="discount">-{{product.discount}}</div>
                {% else %}
                <div class="price">₹{{product.cost}}</div>
                {% endif %}
            </div>
            <div class="badge">{{product.category.display_name}}</div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <button onclick="previousPage()">Previous</button>
        <span id="page-number">1</span>
        <button onclick="nextPage()">Next</button>
    </div>
</div>
