<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/dashboard/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard-container">
        <div class="sidepanel has-scrollbar">
            <span class="logo">
                <a href="#" class="logo">
                    <img src="/static/Media/resource/logo-white.png" alt="Glowing">
                </a>
            </span>
        <div class="main-content">

          <ul class="models-list">
            <li class="model">
              <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                <div class="sideline"></div>
                <p class="model-title">Home</p>
                <div class="model-icon">
                  <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                </div>
              </a>
            </li>
          </ul>

          <ul class="models-list">
            <li class="model">
              <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                <div class="sideline"></div>
                <p class="model-title">Categories</p>
                <div class="model-icon">
                  <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                </div>
              </a>
            </li>
          </ul>

          <ul class="models-list">
            <li class="model">
              <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                <div class="sideline"></div>
                <p class="model-title">Sub-Categories</p>
                <div class="model-icon">
                  <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                </div>
              </a>
            </li>
          </ul>

          <ul class="models-list">
            <li class="model">
              <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                <div class="sideline"></div>
                <p class="model-title">Products</p>
                <div class="model-icon">
                  <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                </div>
              </a>
            </li>
          </ul>
    </div>
    </div>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static "js/dashboard/dashboard.js" %}"></script>
</body>
</html>