<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/dashboard/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block link %}
    
    {% endblock link %}
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <button id="menu-toggle" class="menu-button">
            <ion-icon name="menu-outline"></ion-icon>
        </button>
        <div class="logo" id="mobile-logo">
            <a href="{% url "home" %}" class="logo">
                <img src="/static/Media/resource/logo-white.png" alt="Glowing">
            </a>
        </div>
    </header>

    <div class="dashboard-container">
        <div class="sidepanel">
            <span class="logo" id="desktop-logo">
                <a href="{% url "home" %}" class="logo">
                    <img src="/static/Media/resource/logo-white.png" alt="Glowing">
                </a>
            </span>
            <div class="main-content">
                {% comment %} Home model {% endcomment %}
                <ul class="models-list">
                    <li class="model">
                        <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                            <div class="sideline"></div>
                            <p class="model-title">Home</p>
                            <div class="model-icon">
                                <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                            </div>
                        </a>
                    </li>
                </ul>
                {% comment %} Product model {% endcomment %}
                <ul class="models-list">
                    <li class="model">
                        <a class="model-info" data-accordion-btn href="{% url "dashboard-product" %}">
                            <div class="sideline"></div>
                            <p class="model-title">Products</p>
                            <div class="model-icon">
                                <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                            </div>
                        </a>
                    </li>
                </ul>
                {% comment %} Categoires Model {% endcomment %}
                <ul class="models-list"> 
                    <li class="model">
                        <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                            <div class="sideline"></div>
                            <p class="model-title">Categories</p>
                            <div class="model-icon">
                                <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                            </div>
                        </a>
                    </li>
                </ul>
                {% comment %} Tag model {% endcomment %}
                <ul class="models-list">
                    <li class="model">
                        <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                            <div class="sideline"></div>
                            <p class="model-title">Tags</p>
                            <div class="model-icon">
                                <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                            </div>
                        </a>
                    </li>
                </ul>
                {% comment %} User model {% endcomment %}
                <ul class="models-list">
                    <li class="model">
                        <a class="model-info" data-accordion-btn href="{% url "dashboard" %}">
                            <div class="sideline"></div>
                            <p class="model-title">Users</p>
                            <div class="model-icon">
                                <ion-icon name="chevron-down-outline" class="add-icon"></ion-icon>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        
    <main>
        {% block dashboard-containt %}
        <div class="overview-cards">
            <a href="{% url "dashboard-product" %}">
            <div class="card">
                <div class="card-icon">
                    <span class="icon"><img width="100" height="100" src="https://img.icons8.com/pastel-glyph/100/FD7E14/cardboard-box.png" alt="Products"/></span> 
                </div>
                <div class="card-title">
                    <h2>Total Product</h2>
                </div>
                <div class="card-info">
                    <h3>{{product_count}}</h3>
                </div>
            </div></a>
            <a href="">
            <div class="card">
                <div class="card-icon">
                    <span class="icon"><img width="100" height="100" src="https://img.icons8.com/ios/100/FD7E14/category.png" alt="category"/></span> 
                </div>
                <div class="card-title">
                    <h2>Total Categories</h2>
                </div>
                <div class="card-info">
                    <h3>20</h3>
                </div>
            </div></a>
            <a href="">
            <div class="card">
                <div class="card-icon">
                    <span class="icon"><img width="100" height="100" src="https://img.icons8.com/ios/100/FD7E14/price-tag--v1.png" alt="Tag"/></span> 
                </div>
                <div class="card-title">
                    <h2>Total Tags</h2>
                </div>
                <div class="card-info">
                    <h3>20</h3>
                </div>
            </div></a>
            <a href="">
            <div class="card">
                <div class="card-icon">
                    <span class="icon"><img width="100" height="100" src="https://img.icons8.com/ios/100/FD7E14/user--v1.png" alt="user--v1"/></span> 
                </div>
                <div class="card-title">
                    <h2>Total Users</h2>
                </div>
                <div class="card-info">
                    <h3>2</h3>
                </div>
            </div></a>
        </div>
        {% endblock dashboard-containt %}
    </main>

    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static "js/dashboard/dashboard.js" %}"></script>
    {% block script %}
    
    {% endblock script %}
</body>
</html>
